@charset "utf-8";
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 76%;
}
h1 {
  font-size: 145%;
  text-align: center;
}
.above {
  padding-top: 0;
}
.between {
  padding-top: 50px;
}
.below {
  padding-top: 100px;
}
