@charset "utf-8";
/*----------------------------------------
    ラッパー
----------------------------------------*/
#wrapper {
  width: 100%;
  margin: 0 auto;
}
/*----------------------------------------
    ヘッダー
----------------------------------------*/
#header {
  width: 100%;
  height: 300px;
}
/*  小見出し
----------------------------------------*/
/*----------------------------------------
    フッター
----------------------------------------*/
#footer {
  width: 100%;
  height: 300px;
}
/*  小見出し
----------------------------------------*/
/*----------------------------------------
    共通
----------------------------------------*/
.sp {
  display: block;
}
.pc {
  display: block;
}
