@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/
@import "_reset"


/*----------------------------------------
    ラッパー
----------------------------------------*/
#wrapper
  width 960px
  margin 0 auto

/*----------------------------------------
    ヘッダー
----------------------------------------*/
#header
  size 960px 300px

/*  小見出し
----------------------------------------*/


/*----------------------------------------
    フッター
----------------------------------------*/
#footer
  size 960px 300px

/*  小見出し
----------------------------------------*/

/*----------------------------------------
    共通
----------------------------------------*/
.sp
  display none
.pc
  display block