@charset "utf-8";

/*----------------------------------------
    ラッパー
----------------------------------------*/
#wrapper
  width 100%
  margin 0 auto

/*----------------------------------------
    ヘッダー
----------------------------------------*/
#header
  size 100% 300px

/*  小見出し
----------------------------------------*/




/*----------------------------------------
    フッター
----------------------------------------*/
#footer
  size 100% 300px

/*  小見出し
----------------------------------------*/

/*----------------------------------------
    共通
----------------------------------------*/
.sp
  display block
.pc
  display block